<div class="page-header page-header-top">
  <h2>Administrative Actions</h2>
</div>

<legend style="margin-top: 20px;">Refresh All Projects</legend>

<p>Refresh all projects, together. This will queue the task, and get processed in the background - which may take a few
  minutes.</p>

<%= button_to(
      (@controls[:refresh_projects_button].empty? ? 'Refresh all Projects' : 'Queued!'),
      refresh_projects_admin_index_path,
      {
        class: 'btn btn-primary',
        method: :post,
        remote: true,
        'data-loading-text'.to_sym => 'Queued!',
        id: 'admin_refresh_projects_button',
        onclick: 'return admin_refresh_projects_button_click();'
      }.merge(@controls[:refresh_projects_button])
    ) %>

<legend style="margin-top: 20px;">Add Projects with JSON</legend>

<p>Add one or more projects to the database from JSON format project-store.</p>

<%= form_tag(add_projects_admin_index_path, remote: true, onsubmit: 'admin_add_projects_button_click();', class: 'remove-bottom-margin') do %>
  <%= text_area_tag(:projects_json, '', rows: 8, required: true, class: 'col-xs-12', placeholder: '
{ "project-name-1": "git@git.yourcompany.com:project/name-1.git", "project-name-2": { "git_url": "git@git.yourcompany.com:project/name-2.git", "branch": "alternate" } }
  ') %>
  <%= button_tag (@controls[:add_projects_button].empty? ? 'Add Projects' : 'Queued!'), {
    id: 'admin_add_projects_button',
    class: 'btn btn-primary',
    'data-loading-text'.to_sym => 'Queueing'
  }.merge(@controls[:add_projects_button]) %>
<% end %>

<% unless @orphaned_servers.empty? %>
  <legend style="margin-top: 20px;">Orphaned Servers</legend>

  <p>There are one or more servers in the database, which are not associated with any project. These entries may be
    deleted, if deemed appropriate.</p><br/>

  <table class="table datatable" id="admin_orphaned_servers_table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Info</th>
      <th>Actions</th>
    </tr>
    </thead>
    <% @orphaned_servers.each do |orphaned_server| %>
      <tr id="admin_orphaned_server_<%= orphaned_server.id %>_row">
        <td>
          <%= link_to orphaned_server.hostname, server_url(orphaned_server) %>
        </td>
        <td>
          <% unless orphaned_server.card_tags.empty? %>
            <span class="label label-info">Has Trello Cards</span>
          <% end %>
        </td>
        <td>
          <%= button_to 'Delete',
                        server_path(orphaned_server),
                        remote: true,
                        method: :delete,
                        id: "admin_server_#{orphaned_server.id}_delete_button",
                        class: 'btn btn-xs btn-danger',
                        'data-loading-text'.to_sym => 'Deleting',
                        onclick: "admin_orphaned_servers_delete_click('#{orphaned_server.id}');",
                        data: { confirm: 'Are you sure you want to delete this server? Associations with trello cards will be lost.' }
          %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<% unless @delayed_jobs.empty? %>
  <div id="delayed_jobs_queue">
    <legend style="margin-top: 20px;">Delayed Jobs Queue</legend>
    <table class="table">
      <thead>
      <tr>
        <th>Job ID</th>
        <th>Object</th>
        <th>Method</th>
        <th>Arguments</th>
        <th>Attempts</th>
        <th>Last Error</th>
      </tr>
      </thead>

      <tbody>
      <% @delayed_jobs.each do |delayed_job| %>
        <% handler = YAML.load(delayed_job.handler) %>
        <tr>
          <td><%= delayed_job.id %></td>
          <td><code><%= handler.object %></code></td>
          <td><code><%= handler.method_name %></code></td>
          <td><code style="white-space: pre-wrap;"><%= handler.args %></code></td>
          <td><%= delayed_job.attempts %></td>
          <!-- TODO: Need some way to display complete error message here, instead of the first 200 characters. -->
          <td><%= delayed_job.last_error.nil? ? '<em>None</em>'.html_safe : (delayed_job.last_error[0..200] + '...') %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <%= link_to 'Delete all jobs', delayed_jobs_clear_path, data: { confirm: 'Are you sure you want to delete all queued jobs?' }, remote: true, class: 'btn btn-danger', method: 'post' %>
  </div>
<% end %>

<legend style="margin-top: 20px;">Trello Boards</legend>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>New List ID</th>
    <th>WIP List ID</th>
    <th>Done List ID</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @boards.each do |board| %>
    <tr>
      <td><%= link_to board.name, board_url(board.id) %></td>
      <td><%= board.new_list_id || list_id_not_set %></td>
      <td><%= board.wip_list_id || list_id_not_set %></td>
      <td><%= board.done_list_id || list_id_not_set %></td>
      <td>
        <%= button_to(
              'Delete',
              board_url(board.id),
              method: :delete,
              class: 'btn btn-sm btn-danger',
              form_class: 'inline-form',
              data: { confirm: 'Are your sure you want to delete this board all its stored cards?' }
            )
        %>
        <% if board.trello_webhook_id %>
          <%= button_to(
                'Unsubscribe',
                unsubscribe_board_url(board.id),
                form_class: 'inline-form inline-form-more',
                class: 'btn btn-sm btn-danger',
                data: { confirm: 'Are you sure you want to unsubscribe from this board? Future updates to the Trello board will not be reflected in local database.' }
              ) %>
        <% else %>
          <%= button_to(
                'Subscribe',
                subscribe_board_url(board.id),
                form_class: 'inline-form inline-form-more',
                class: 'btn btn-sm btn-primary',
              ) %>
        <% end %>
      </td>
      <!-- TODO: Display warning message, and delete board and member cards. -->
    </tr>
  <% end %>
  </tbody>
</table>

<%= button_to(
      'Update Now',
      refresh_boards_admin_index_url,
      'data-loading-text'.to_sym => 'Updating...',
      id: 'admin_refresh_boards_button',
      class: 'btn btn-primary'
    )
%>