<% content_for :head do %>
  <%= javascript_include_tag '//www.google.com/jsapi', 'chartkick' %>
<% end %>

<div class="page-header page-header-top">
  <h2>Work Quality Metrics</h2>
</div>

<div class="row">
  <div class="col-md-4">
    <%=
        pie_chart(
          {
            'Healthy' => @data[:healthy],
            'Stagnant' => @data[:stagnant],
            'Overdue' => @data[:overdue],
            'S&O' => @data[:stagnant_and_overdue]
          }
        )
    %>
  </div>

  <div class="col-md-8">
    <%= line_chart burndown_metrics_path, library: { hAxis: { format: 'MMM d' } } %>
  </div>
</div>

<table class='table datatable' id="completed_cards_datatable">
  <legend>Completed cards</legend>
  <%= render 'card_table_header' %>

  <tbody>
  <% @cards.each do |done_card| %>
    <%= render 'card_table_entry', card: done_card %>
  <% end %>
  </tbody>
</table>